[Desktop Entry]
Categories=System;Utility;
Comment=Graphical front end for pacman and the AUR
Exec=/usr/bin/vpacman
Icon=utilities-file-archiver.png
Name=VPacman
NoDisplay=false
Path[$e]=
StartupNotify=false
Terminal=false
TerminalOptions=
Type=Application

